<section class="hero hero__decors">
  <div class="container hero__container">
    <div class="hero__heading">
      <h2 class="hero__title text-p-default">Pricing plans 🤑</h2>
      <p class="hero__description">Choose a plan for a more advanced business</p>
      <label class="hero__switcher-wrapper">
        <span class="hero__switcher">
          <input type="checkbox" class="hero__switcher-checkbox">
        </span>
        <span class="hero__switcher-text text-p-default">Annual pricing (save 20%)</span>
      </label>
    </div>
    <ul class="hero__plans">
      <li class="hero__card">
        <div class="hero__card-badges">
          <div class="hero__card-icon">
            <img src="./assets/images/icons/heart-icon.svg" alt="Heart icon">
          </div>
        </div>
        <h3 class="hero__card-title text-p-large">Starter</h3>
        <p class="hero__card-description text-p-default">Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.
        </p>
        <div class="hero__card-price text-p-default"><span class="hero__card-price-value heading-h2">$100</span> /mo
        </div>
        <ul class="hero__card-list">
          <li class="hero__card-item">What’s included:</li>
          <li class="hero__card-item">Unlimited Upload</li>
          <li class="hero__card-item">Advanced Statistic</li>
          <li class="hero__card-item">Profile Badge</li>
          <li class="hero__card-item">Access to the community</li>
          <li class="hero__card-item hero__card-item--disabled">History of all Liked Photos</li>
          <li class="hero__card-item hero__card-item--disabled">Directory Listing</li>
          <li class="hero__card-item hero__card-item--disabled">Customize Your Profile</li>
          <li class="hero__card-item hero__card-item--disabled">Display Your Workshops</li>
        </ul>
        <button class="hero__card-btn">Choose Plan</button>
      </li>
      <li class="hero__card hero__card--popular">
        <div class="hero__card-badges">
          <div class="hero__card-icon hero__card-icon--popular">
            <img src="./assets/images/icons/thunder-icon.svg" alt="Thunder icon">
          </div>
          <div class="hero__card-badge text-p-small">Best Offers 🔥</div>
        </div>
        <h3 class="hero__card-title hero__card-title--popular text-p-large">Popular</h3>
        <p class="hero__card-description text-p-default">Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.
        </p>
        <div class="hero__card-price text-p-default"><span
            class="hero__card-price-value hero__card-price-value--popular heading-h2">$1400</span> /mo
        </div>
        <ul class="hero__card-list hero__card-list--popular">
          <li class="hero__card-item hero__card-item--popular">What’s included:</li>
          <li class="hero__card-item hero__card-item--popular">Unlimited Upload</li>
          <li class="hero__card-item hero__card-item--popular">Advanced Statistic</li>
          <li class="hero__card-item hero__card-item--popular">Profile Badge</li>
          <li class="hero__card-item hero__card-item--popular">Access to the community</li>
          <li class="hero__card-item hero__card-item--disabled">History of all Liked Photos</li>
          <li class="hero__card-item hero__card-item--popular">Directory Listing</li>
          <li class="hero__card-item hero__card-item--disabled">Customize Your Profile</li>
          <li class="hero__card-item hero__card-item--disabled">Display Your Workshops</li>
        </ul>
        <button class="hero__card-btn hero__card-btn--popular">Choose Plan</button>
      </li>
      <li class="hero__card">
        <div class="hero__card-badges">
          <div class="hero__card-icon">
            <img src="./assets/images/icons/crown-icon.svg" alt="Crown icon">
          </div>
        </div>
        <h3 class="hero__card-title text-p-large">Enterprise</h3>
        <p class="hero__card-description text-p-default">Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.
        </p>
        <div class="hero__card-price text-p-default"><span class="hero__card-price-value heading-h2">$2100</span> /mo
        </div>
        <ul class="hero__card-list text-p-default">
          <li class="hero__card-item">What’s included:</li>
          <li class="hero__card-item">Unlimited Upload</li>
          <li class="hero__card-item">Advanced Statistic</li>
          <li class="hero__card-item">Profile Badge</li>
          <li class="hero__card-item">Access to the community</li>
          <li class="hero__card-item">History of all Liked Photos</li>
          <li class="hero__card-item">Directory Listing</li>
          <li class="hero__card-item">Customize Your Profile</li>
          <li class="hero__card-item">Display Your Workshops</li>
        </ul>
        <button class="hero__card-btn">Choose Plan</button>
      </li>
    </ul>
  </div>
</section>