.contact-us {
  &__title {
    margin-bottom: 82px;
    max-width: 741px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
  }

  &__map {
    @include flex-justify-between;
  }

  &__contacts {
    max-width: 176px;

    &-item {
      border-bottom: 1px solid var(--neutral-color-50);
      padding-bottom: 32px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &-title {
        margin-bottom: 8px;
        font-weight: 700;
        line-height: 1.33;
        color: var(--neutral-color-100);
      }

      &-description {
        margin-bottom: 20px;
        font-weight: 400;
        line-height: 1.5;
        color: var(--neutral-color-150);
      }
    }
  }
}
