.header {
  padding: 26px 0 22px;

  &__container {
    @include flex-all-between;
  }

  &__logo {
    z-index: var(--z-index-5);

    @include mobile {
      & svg {
        width: 130px;
      }
    }

    & svg {
      & path:not(:last-child) {
        fill: var(--neutral-color-100);
      }

      & circle {
        fill: var(--logo-circle-color);
      }
    }
  }

  &__right {
    @include flex-align-center;
    gap: 111px;

    @include small-tablet {
      position: fixed;
      top: 0;
      left: -100vw;
      z-index: var(--z-index-4);
      gap: 45px;
      width: 80dvw;
      height: 100dvh;
      background-color: var(--neutral-color-10);
      visibility: visible;
      transition: left var(--transition);

      @include flex-column-all-center;

      &--visible {
        left: 0;
        opacity: 1;
        visibility: visible;
      }
    }

    & .switcher {
      @include flex-column-all-center;
      gap: 2px;

      &__text {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }

      &__checkbox {
        appearance: none;
        position: relative;
        border-radius: 13.5px;
        width: 63px;
        height: 27px;
        background: var(--neutral-color-130);
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          top: 2px;
          left: 3px;
          border-radius: 50%;
          width: 23px;
          height: 23px;
          background: var(--neutral-color-120);
          transition:
            left var(--transition),
            background var(--transition);
        }
      }

      &__checkbox:checked {
        background-color: var(--neutral-color-60);

        &::before {
          left: 38px;
          background-color: var(--primary-color-50);
        }
      }
    }
  }
}

.nav {
  &__list {
    @include flex-all-center;
    gap: 32px;

    @include small-tablet {
      gap: 24px;
      flex-direction: column;
    }
  }

  &__item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: var(--neutral-color-100);
      opacity: 0;
      transition: var(--transition);
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &__link {
    font-weight: 500;
    line-height: 26px;
    color: var(--neutral-color-100);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: #000000b3;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}

.burger {
  @include burger;
}
