<section class="features">
  <div class="container features__container">
    <div class="features__img">
      <img
        loading="lazy"
        src="./assets/images/features/typing-woman.jpeg"
        alt="Woman typing on a laptop"
      />
      <div class="features__img-stat">
        <div class="features__img-stat-head">
          <h4 class="features__img-stat-head-title text-p-default">
            Statistic
          </h4>
          <img
            class="features__img-stat-head-more"
            src="./assets/images/icons/more-button.svg"
            alt="More icon"
          />
        </div>
        <div class="features__img-stat-income">
          <img
            src="./assets/images/features/income-graph.svg"
            alt="Income graphic"
            class="features__img-stat-income-img"
          />
          <div class="features__img-stat-income-content">
            <h5 class="features__img-stat-income-content-title">
              Total Income
            </h5>
            <div class="features__img-stat-expense-content-value">
              <span class="features__img-stat-income-content-value-num"
                >$7.020</span
              >
              <span class="features__img-stat-income-content-value-percent"
                >15%</span
              >
            </div>
            <p class="features__img-stat-income-content-description">
              Your <span>Income</span> of this month compared to last month
            </p>
          </div>
        </div>
        <div class="features__img-stat-expense">
          <img
            src="./assets/images/features/expense-graph.svg"
            alt="Expense graphic"
            class="features__img-stat-expense-img"
          />
          <div class="featuress__img-stat-expense-content">
            <h5 class="features__img-stat-expense-content-title">
              Total Expense
            </h5>
            <div class="features__img-stat-expense-content-value">
              <span class="features__img-stat-expense-content-value-num"
                >$2.150</span
              >
              <span class="features__img-stat-expense-content-value-percent"
                >10%</span
              >
            </div>
            <p class="features__img-stat-expense-content-description">
              Your <span>Expense</span> of this month compared to last month
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="features__content">
      <h2 class="features__title heading-h2">
        Passion to increase company revenue up to 85%
      </h2>
      <p class="features__description text-p-medium">
        Automate your sales, marketing and service in one platform. Avoid date
        leaks and enable consistent messaging
      </p>
      <ul class="features__list">
        <li class="features__item text-p-medium">
          Close more deals with single - page contact managment
        </li>
        <li class="features__item text-p-medium">
          Enjoy one-click calling, call scripts and voicemail automation
        </li>
        <li class="features__item text-p-medium">
          Take stages and milestones of your deals to keep the sales process an
          track
        </li>
      </ul>
    </div>
  </div>
</section>
