<section class="insights">
  <div class="container insights__container">
    <div class="insights__heading">
      <h2 class="insights__title heading-h2">Trending news from Coca</h2>
      <p class="insights__description text-p-medium">
        we have some new Service to pamper you
      </p>
    </div>
    <div class="swiper insights__swiper">
      <div class="insights__swiper-btns">
        <div class="insights__swiper-button-prev">
          <svg
            width="15px"
            height="15px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z"
              fill="#7E8492"
            />
          </svg>
        </div>
        <div class="insights__swiper-button-next">
          <svg
            width="15px"
            height="15px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z"
              fill="#7E8492"
            />
          </svg>
        </div>
      </div>
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide insights__slide">
          <img
            src="./assets/images/insights/writing-woman.jpg"
            alt="The woman working on a laptop and writing something down."
            class="insights__slide-img"
            width="582"
            height="329"
          />
          <div class="insights__slide-info text-p-small">
            <div class="insights__slide-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insights__slide-author">by : Albert Sans</address>
          </div>
          <h3 class="insights__slide-title heading-h5">
            What makes an authentic employee profile, and why does it matter?
          </h3>
        </div>
        <div class="swiper-slide insights__slide">
          <img
            src="./assets/images/insights/typing-man.jpg"
            alt="The man typing on a laptop."
            class="insights__slide-img"
            width="582"
            height="329"
          />
          <div class="insights__slide-info text-p-small">
            <div class="insights__slide-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insights__slide-author">by : Albert Sans</address>
          </div>
          <h3 class="insights__slide-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
        <div class="swiper-slide insights__slide">
          <img
            src="./assets/images/insights/typing-man.jpg"
            alt="The man typing on a laptop."
            class="insights__slide-img"
            width="586"
            height="329"
          />
          <div class="insights__slide-info text-p-small">
            <div class="insights__slide-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insights__slide-author">by : Albert Sans</address>
          </div>
          <h3 class="insights__slide-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
      </div>

      <!-- If we need navigation buttons -->
    </div>
  </div>
</section>
