<section class="partners">
  <div class="container partners__container">
    <div class="partners__info">
      <span class="partners__info-value heading-h2">890+</span>
      <p class="partners__info-description text-p-medium">some big companies that we work with, and trust us very much
      </p>
    </div>
    <ul class="partners__list">
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./assets/images/partners/airbnb.svg" alt="Aribnb logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./assets/images/partners/amazon.svg" alt="Aribnb logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./assets/images/partners/fedex.svg" alt="Aribnb logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./assets/images/partners/microsoft.svg" alt="Aribnb logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./assets/images/partners/google.svg" alt="Aribnb logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./assets/images/partners/ola.svg" alt="Aribnb logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./assets/images/partners/walmart.svg" alt="Aribnb logo">
        </a>
      </li>
      <li class="partners__item">
        <a href="#" class="partners__link">
          <img src="./assets/images/partners/oyo.svg" alt="Aribnb logo">
        </a>
      </li>
    </ul>
  </div>
</section>