.hero {
  &__decors {
    &::before {
      content: '';
      position: absolute;
      top: 2%;
      left: 10%;
      z-index: -1;
      display: inline-block;
      width: 551px;
      height: 551px;
      background: #fa7515;
      opacity: 0.13;
      filter: blur(220px);

      @include mini-desktop {
        left: -8%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: -11%;
      bottom: 88.6%;
      z-index: -1;
      width: 525px;
      height: 525px;
      background: #e2f8f033;
      filter: blur(180px);
    }
  }
}
